<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:theme="@android:style/Theme.Material.NoActionBar"
    android:background="@drawable/bgsm"
    android:id="@+id/ConnectingBG">
    <LinearLayout
        android:orientation="vertical"
        android:minHeight="5dp"
        android:gravity="center"
        android:id="@+id/ConnectingLayout"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_centerInParent="true">
        <TextView
            android:text="Loading..."
            android:id="@+id/ConnectingLbl"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:gravity="center_horizontal"
            android:textColor="@color/cardview_light_background"
            android:shadowColor="#000000"
            android:shadowRadius="15" />
        <ProgressBar
            android:id="@+id/ConnectingProgressCircle"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:gravity="center_horizontal"
            android:indeterminate="true"
            android:layout_marginTop="10dp" />
    </LinearLayout>
  <LinearLayout
    android:orientation="vertical"
    android:minHeight="5dp"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:id="@+id/StartButtonsLayout"
    android:layout_centerInParent="true">
    <Button
        android:text="Connect to Scout Master"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="4dp"
        android:id="@+id/StartConnectBtn"
        android:enabled="true" />
    <Button
        android:text="Pre-Scouting"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="4dp"
        android:id="@+id/PreScoutingBtn"
        android:enabled="true" />
    <Button
        android:text="Settings"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="4dp"
        android:id="@+id/StartSettingsBtn"
        android:enabled="true" />
    <Button
        android:text="View Spreadsheets"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/ViewSpreadsheetsBtn" />
  </LinearLayout>
</RelativeLayout>